body {
    padding-top: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4ecd2;
    /* stop select any on page */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#wrapper {
    width: 100%;
    margin: 0 0 0 36%;
}

#AudioPlayerByZloid {
    max-width: 500px;
    height: 70%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.94);
    margin: 8px 5px;
    border-radius: 6px;
    background-image: url(img/bg2.jpg);
    background-size: cover;
}

#ulForNewUiAudioElement {
    list-style-type: none;
    padding: 0 20px;
}

.newLiClass {
    overflow: hidden;
    display: block;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    background-color: #f1f3f4;
    border: 1px solid #bebebe;
    border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
    color: #424242;
}

.newLiClassPlaying {
    display: block;
    padding: 5px 20px;
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    background-color: #eee;
    border-bottom: 1px solid #999;
    border-radius: 5px;
    background-color: #78c55a;
    color: #424242;
}

.newLiClass:hover {
    background-color: #3e8e41;
    background-color: rgb(221, 221, 221);
}

.newLiClass:active {
    background-color: #78c55a;
}

.classOfNewSongLiElement {
    display: block;
    margin: 10px;
    background-color: #faca62;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    width: 80%;
    padding: 10px;
}

.classOfNewSongLiElement:hover {
    font-size: 21px;
}

@media only screen and (min-width: 601px) {
    #stop,
    #next,
    #play,
    #back {
        width: 20%;
        min-width: 75px;
        padding: 14px;
        outline: none;
        background-color: rgb(213, 228, 83);
        border-radius: 5px;
        margin: 6px 12px;
        font-weight: bold;
        font-size: 15px;
    }
}

#stop,
#next,
#play,
#back {
    outline: none;
    background-color: rgb(213, 228, 83);
    border-radius: 5px;
    font-weight: bold;
    color: #424242
}

#muteActive {
    width: 32px;
    height: 30px;
    margin: 0 0 0 50px;
    border: 2px solid #89898d;
    background: url(img/muteOnOff-spritesheet-2.png) no-repeat;
    background-size: cover;
    background-position: -30px 0px;
    opacity: .5;
    border-radius: 5px;
}

#mute {
    width: 30px;
    height: 30px;
    margin: 0 0 0 50px;
    border: 2px solid #2e40df;
    background: url(img/muteOnOff-spritesheet-2.png) no-repeat;
    background-size: cover;
    border-radius: 5px;
}

#random {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #89898d;
    background: url(img/shuffle-spritesheet-2.png) no-repeat;
    background-size: cover;
    opacity: .5;
    border-radius: 5px;
}

#randomActive {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #2e40df;
    background: url(img/shuffle-spritesheet-2.png) no-repeat;
    background-size: cover;
    background-position: -30px 0px;
    border-radius: 5px;
}

#stop {
    background-color: rgb(228, 86, 51);
}

#play {
    background-color: rgb(56, 156, 53);
}

#allButtonsHere,
#progressBarContainer,
#ContainerForAdvancedAudioControls {
    background: #e6e6e6;
    border-radius: 5px;
    margin: 2px 0;
    color: #424242
}

#ContainerForAdvancedAudioControls {
    padding: 5px;
}

#timer {
    width: 24%;
    font-size: 18px;
    float: left;
}

#progressBarContainer {
    height: 22px;
    padding: 5px;
}

#songSlider {
    position: absolute;
    width: 100%;
    height: 22px;
    background-color: #ccc;
    border-radius: 3px;
    margin: 0 0 0 110px;
}

#trackProgress {
    width: 0px;
    height: 22px;
    background-color: #78c55a;
    border-radius: 3px;
}

#trackNameContainer {
    position: absolute;
    font-size: 20px;
    height: 15px;
    line-height: 20px;
    padding: 0 5px 0 10px;
}

/* mobiles */
@media only screen and (max-width: 600px) {
    #stop,
    #next,
    #play,
    #back {
        width: 22%;
        padding: 10px 2px;
        outline: none;
        border-radius: 5px;
        margin: 4px;
        font-weight: bold;
        font-size: 15px;
    }
    #progressBarContainer {
        height: 42px;
        padding: 5px;
    }
    #timer {
        width: 80px;
        font-size: 18px;
        line-height: 22px;
    }
    #songSlider {
        width: 66%;
        height: 42px;
        background-color: #ccc;
        border-radius: 3px;
        margin: 0 0 0 70px;
        position: absolute;
    }
    #trackProgress {
        height: 42px;
        background-color: #78c55a;
        border-radius: 3px;
    }
    #trackNameContainer {
        position: absolute;
        width: 70%;
        height: 30px;
        padding: 0 5px 0 10px;
        line-height: 20px;
        font-size: 20px;
    }    
    #wrapper {
        width: 100%;
        margin: 0 0 0 0;
    }
}